* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: green;
}

:root {
  font-size: 16px;
}

button {
  height: 2rem;
  width: 8rem;

  transition: background-color;
}

button:hover {
  background-color: rgb(173, 173, 173);
}

button:active {
  background-color: grey;
}

#btn-sacar {
  display: none;
}

main {
  height: fit-content;
  position: relative;
}

#tapete {
  width: 80%;
  padding: 6%;
  padding-top: 1%;

  display: flex;
  flex-flow: row wrap;
}

#zona-baraja {
  height: 13rem;
  width: 9.38rem;

  border: 1px solid black;

  position: absolute;
  top: 0%;
  right: -0%;
}

.carta-baraja {
  height: 10rem;
  width: 7.2rem;

  position: absolute;
}

.carta {
  height: 10rem;
  width: 7.2rem;

  position: relative;
}

.imagen-carta {
  height: 100%;
  width: 100%;

  position: relative;
}
