* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

div {
  border: 1px solid black;
}

button {
  height: 2rem;
  width: 8rem;

  transition: background-color;
}

button:hover {
  background-color: rgb(173, 173, 173);
}

button:active {
  background-color: grey;
}

#btn-sacar {
  display: none;
}

#zona-juego {
  height: 100vh;
  position: relative;

  background-color: green;

  display: none;
  justify-content: space-between;
}

#zona-tapete {
  width: 90%;

  align-content: center;
}

#zona-pilas {
  width: 6rem;
}

#tapete {
  height: 90%;
  width: 95%;

  position: relative;
  margin: auto;
  margin-top: 1rem;

  display: grid;
  grid-template: repeat(4, 2rem) / repeat(13, 3rem);
}

#baraja {
  height: 8rem;
  width: 6rem;

  border: 1px solid black;

  position: absolute;
  top: 0%;
  right: -0%;
}

.carta-baraja {
  height: 7rem;
  width: 5.04rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carta-arriba {
  transition: transform 0.5s;
}

.carta-arriba:hover {
  transform: translate(-50%, -30%);
}

.carta {
  height: 7rem;
  width: 5.04rem;

  position: relative;

  transition: transform 0.15s;
}

.carta:hover {
  transform: scale(1.075);
}

.imagen-carta {
  height: 100%;
  width: 100%;

  position: relative;
}
